html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

a{
    color: inherit;
    text-decoration: none;
}

.container{
    max-width: 1220px;
    padding: 0 85px;
    margin: 0 auto;
}

.body{
    font-family: 'Roboto Condensed', sans-serif;
    color: #040404;
    font-size: 14px;
    line-height: 1.2;
}

.header{
    padding-top: 25px;
}

.nav{    
display: flex;
justify-content: space-between;
}


  .cardm {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20%;
    left: 10%;
  }
  
  .card {
    position: absolute;
    width: 250px;
    height: 130px;
    border-radius: 25px;
    background: whitesmoke;
    color: black;
    z-index: 2;
    transition: .4s ease-in-out;
  }
  
  .weather {
    position: relative;
    margin: 1em;
  }
  
  .main {
    font-size: 2em;
    position: relative;
    top: -3em;
    left: 4.3em;
  }
  
  .mainsub {
    position: relative;
    top: -10.2em;
    left: 14em;
    font-size: 0.6em;
  }
  
  .card2 {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 240px;
    height: 130px;
    border-radius: 35px;
    background: white;
    z-index: -1;
    transition: .4s ease-in-out;
  }
  
  .card:hover {
    background-color: #FFE87C;
    cursor: pointer;
  }
  
  .card:hover + .card2 {
    height: 300px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  .card:hover + .card2 .lower {
    top: 20.2em;
  }
  
  .upper {
    display: flex;
    flex-direction: row;
    position: relative;
    color: black;
    left: 1.8em;
    top: 0.5em;
    gap: 4em;
  }
  
  .humiditytext {
    position: relative;
    left: 3.6em;
    top: 2.7em;
    font-size: 0.6em;
  }
  
  .airtext {
    position: relative;
    left: 3.8em;
    top: 2.7em;
    font-size: 0.6em;
  }
  
  .lower {
    display: flex;
    flex-direction: row;
    position: absolute;
    text-align: center;
    color: black;
    left: 3em;
    top: 1em;
    margin-top: 0.7em;
    font-size: 0.7em;
    transition: .4s ease-in-out;
  }
  
  .aqi {
    margin-right: 3.25em;
  }
  
  .realfeel {
    margin-right: 1.8em;
  }
  
  .card3 {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 30px;
    top: 4.7em;
    left: -2.4em;
    font-size: 1.24em;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    background: limegreen;
    transition: .4s ease-in-out;
  }

  .title_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
    width: 75%;
    height: auto;
    color: white;
    transition: .2s;
    animation: s_anim 3s forwards;
}

#hello_container {
  position: absolute;
  margin-top: 125px;
  width: 100%;
  height: auto;
  left: 0;
  text-align: center;
}

#hello_text {
  width: auto;
  color: white;
  font-size: 80px;
  font-weight: 700;
  font-family: 'Comfortaa', cursive;
  font-family: 'Montserrat Alternates', sans-serif;
  font-family: 'Roboto', sans-serif;
}

#hello_textfield {
  width: 25%;
  text-align: center;

  border-radius: 12px;
  border: 2px solid #D24D57;
  background-color: rgba(0, 0, 0, 0.186);

  color: white;
  font-size: 40px;
  font-weight: 700;
  font-family: 'Comfortaa', cursive;
  font-family: 'Montserrat Alternates', sans-serif;
  font-family: 'Roboto', sans-serif;
}

#next_btn {
  margin-top: 15px;

  border-radius: 8px;
  border: 2px solid #D24D57;
  background-color: rgba(255, 0, 0, 0.186);
  transition: .15s ease-in-out;

  color: white;
  font-size: 40px;
  font-weight: 700;
  font-family: 'Comfortaa', cursive;
  font-family: 'Montserrat Alternates', sans-serif;
  font-family: 'Roboto', sans-serif;
}

#next_btn:hover {
  background-color: #D24D57;
}

#next_btn:active {
  font-size: 35px;
  transition: .05s ease-in-out;
  background-color: #3a1616;
}

#input_err {
  color: red;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Comfortaa', cursive;
  font-family: 'Montserrat Alternates', sans-serif;
  font-family: 'Roboto', sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(173, 173, 173);
}

#main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hello_header {
    margin-top: 5px;
    color: white;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Comfortaa', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Roboto', sans-serif;
    pointer-events: none;
}


/*----------------Лента-------------*/
#title_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
    width: 75%;
    height: auto;
    color: white;
    transition: .2s;
    animation: s_anim 3s forwards;
}

#main_header {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Comfortaa', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.title_div {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    height: auto;
    border: 2px solid rgba(255, 255, 255, 0.489);
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.501);
}

.poster_div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Comfortaa', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.poster_img {
    margin: 20px;
    width: 300px;
    height: 350px;
    border-radius: 10px 0 0 10px;
    transition: 0.5s;
}

.poster_img:hover {
    transform: scale(1.2);
}

.info_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Comfortaa', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/*----------------Поиск-------------*/
.search_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50em;
    align-items: center;
}

.search_input {
    text-align: left;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Comfortaa', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.search_btn {
    border-radius: 8px;
    border: 2px solid #D24D57;
    background-color: rgba(255, 0, 0, 0.186);
    transition: .1s ease-in-out;
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Comfortaa', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.search_btn:hover {
    background-color: #D24D57;
}

.search_btn:active {
    font-size: 15px;
    transition: .05s ease-in-out;
    background-color: #cdcbcb;
}

.search_btn:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    font-size: 20px;
}

.s_title_div {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    height: auto;
    width: auto;
    border: 2px solid rgba(239, 4, 4, 0.489);
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(216, 208, 208);
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Comfortaa', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Roboto', sans-serif;
    transition: .2s;
    animation: s_anim 1s forwards;
}

@keyframes s_anim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.s_title_div:hover {
    border: 2px solid white;
    transform: scale(1.15);
}

.name_p {
    margin-left: 15px;
    font-size: 20px;
    pointer-events: none;
}

.genres {
    margin-left: 15px;
    font-size: 15px;
    pointer-events: none;
}

.s_poster_img {
    height: 7em;
    width: auto;
    pointer-events: none;
}

.not_found_container {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    size: auto;
    border: 2px solid rgba(239, 4, 4, 0.489);
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Comfortaa', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Roboto', sans-serif;
    transition: .2s;
    animation: s_anim .5s forwards;
    padding-left: 20px;
    padding-right: 20px;
}


/*----------------Окно с деталями об аниме-------------*/
.detail_container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    border: 2px solid rgba(239, 4, 4, 0.489);
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(87, 87, 87, 0.501);
    color: rgb(1, 1, 1);
    font-size: 20px;
    font-weight: 500;
    font-family: 'Comfortaa', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Roboto', sans-serif;
    gap: 20px;
    width: 75%;
    height: 75%;
    transition: .2s;
    animation: s_anim 2s forwards;
}

.info_block {
    flex-direction: column;
    padding-right: 20px;
}

.close_btn {
    aspect-ratio: 1/1;
    align-self: flex-start;
    margin-right: 5px;
    margin-top: 5px;
    width: 75px;
    height: 75px;
    font-weight: 700;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 6px;
    border: 2px solid rgba(239, 4, 4, 0.489);
    color: rgb(255, 0, 0);
}

.close_btn:hover {
    background-color: #fc000082;
}

.close_btn:active {
    transform: scale(.9);
    font-size: 20px;
    background-color: #000000;
}

/*----------------Кнопка получения рандомного тайтла-------------*/
.random_btn {
    border-radius: 8px;
    border: 2px solid #D24D57;
    background-color: rgba(255, 0, 0, 0.186);
    transition: .1s ease-in-out;
    color: white;
    margin-left: 50px;
    text-align: left;
    width: 400px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Comfortaa', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.random_btn:hover {
    background-color: #D24D57;
}

.random_btn:active {
    font-size: 17px;
    transition: .05s ease-in-out;
    background-color: #3a1616;
}

.random_btn:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    font-size: 20px;
}